<!DOCTYPE html>
<html>
  <head>
    <title>Movies</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= image_tag("logo.png") %>
    </header>

    <main class="content">
      <%= yield %>
    </main>

    <footer>
      <p>Made by Becca Williams in 2023 following the Rails 7 course by <a href="https://pragmaticstudio.com">Pragmatic Studio</a>.</p>
    </footer>
  </body>
</html>
